<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile.css') }}">
    <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Font+Name">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
<nav class="n_bar">
    <a href="/billing" class="navbar">BILLING</a>
    <a href="/home" class="navbar">HOME</a>
    <a href="/inventory" class="navbar">INVENTORY</a>
    <a href="/product" class="navbar">PRODUCTS</a>
    <a href="/receipt" class="navbar">REPORT</a>
    <a href="/subscriptions" class="navbar">SUBSCRIPTION</a>
    <a href="/add_firm" class="navbar">ADD FIRM</a>
    <a href="/firm" class="navbar">FIRM</a>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>


<script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>