{% extends "base.html" %}
{% block content %}
<div class="b_main">
    <!-- Barcode Input -->
    <input type="text" id="scanner" placeholder="Scan barcode" onkeypress="handleScan(e)">

    <!-- Products Grid -->
    <div class="main">
        {% for p in products %}
        <div class="product-box">
            
            <!-- FIX: removed duplicate id, use class -->
            <button class="addcart" onclick="button_new('{{ p[1]}}')">
                <img class="product-image" src="data:image/jpeg;base64,{{ p[3]|b64encode }}">
            </button>

            <p>name{{ p[1] }}</p>

        </div>
        {% endfor %}
    </div>

    <!-- Cart Section -->
    <aside id="a_cart">
        <div id="cart">
            <table id="carttable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Barcode</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                <!-- JS will insert rows here -->
                </tbody>
            </table>
            <div class="gst">
                <p>Total: ₹ <span id="total">0</span></p>
                <p>GST: ₹ <span id="gst">0</span></p>
                <h3>Grand: ₹ <span id="grand">0</span></h3>

                <button class="pay-btn" onclick="checkout()">Pay</button>
                <button onclick="print(sale_id)" class="print">Print</button>
                <button class="pdf" type="submit" onclick="pdf(id)">PDF</button>
            </div>
        </div>
    </aside>
</div>
</div>

{% endblock %}
{% block extra_scripts %}{% endblock %}