{% extends "base.html" %}
{% block title %}forgetpassword{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<form class="fxr_form" action="/forgetpassword" method="post">
    <label class="fxr_text">username</label><br>
    <input type="text" name="username" class="fxr_in"><br>
    <label class="fxr_text">current password</label><br>
    <input type="password" id="current" name="current"class="fxr_in"><br>
    <label class="fxr_text">new password</label><br>
    <input type="password" name="new" class="fxr_in"><br>
    <label class="fxr_text">re-enter</label><br>
    <input type="password" name="re-enter" class="fxr_in"><br>
    <button class="fxr_btn" id="forgetbtn" type="submit" onclick="new_form()">save</button>
</form>
{% endblock %}
{% block extra_scripts %}{% endblock %}