{% extends "base.html" %}
{% block content %}
<div class="product">
    <table class="table_p">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Barcode</th>
            <th>Action</th>
        </tr>

    {% for pro in products %}
        <tr>
            <td>{{ pro[0] }}</td>
            <td>{{ pro[1] }}</td>
            <td>{{ pro[2] }}</td>

        <!-- ✅ Correct image display -->
            <td>
                <img class="image" src="data:image/jpeg;base64,{{ pro[3]|b64encode }}">
            </td>
            <th>{{ pro[4] }}</th>
            <td>
                <a href="/edit/{{ pro[0] }}">
                    <button class="t_edit">Edit</button>
                </a>
                <a href="/delete/{{ pro[0] }}">
                    <button class="t_edit">Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}

    </table>
</div>
{% endblock %}
{% block extra_scripts %}{% endblock %}